<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">

    <h1>TENT BOOKING DETAILS</h1>
    <a href="new">Create New Product</a>
    
    
    <br/><br/>
    <table border="1" cellpadding="10">
    <body style="background-color:powderblue;">    
        <thead>
            <tr>
                <th>CUSTOMER ID</th>
                <th>CUSTOMER NAME</th>
                <th>NUMBER OF CHAIRS</th>
                <th>NUMBER OF TABLES</th>
                <th>NUMBERS OF FOLDEING</th>
                <th>NUMBER OF COFFEE MACHINE</th>
                <th>NUMBER OF MAHARAJACHAIRS</th>
                <th>BOOKED DATE</th>
                <th>TOTAL AMMOUNT</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="details : ${listdetails}">
            	<td th:text="${details.customerid}">CUSROMER ID</td>
                <td th:text="${details.customername}">CUSTOMER Name</td>
                <td th:text="${details.numberofchairs}">NUMBER OF CHAIRS</td>
                <td th:text="${details.numberoftables}">NUMBER OF TABLES</td>
                <td th:text="${details.numberoffoldings}">NUMBER OF FOLDING</td>
                <td th:text="${details.numberofcoffeemachines}">NUMBER OF COFFEE MACHINES</td>
                <td th:text="${details.numberofmaharajachairs}">NUMBER OF MAHARAJACHAIRS</td>
                <td th:text="${details.bookeddate}">BOOKED DATE</td>
                <td th:text="${details.totalammount}">TOTAL AMMOUNT</td>
                
                
                <td>
                	<a th:href="@{'/edit/' + ${details.customerid}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${details.customerid}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>